.webTitle{
    font-family: OCR A Std, monospace;
    background-color: green;
    color:#FDFFFC;
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
    padding:20px;
}

.moneyGIF {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
.bodyContainer{
    background-color: #99E3F3;
    text-align: center;
}